<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Connect Four</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <div id="content">
            @RenderBody()
        </div>
        <div id="nav">
            <div id="title">Connect Four</div>

            <ul>
                <li><a href="@Url.Action("Index", "Home")" alt="Home" title="Home"><span class="bullet">&nbsp;</span>Home</a></li>
                <li><a href="@Url.Action("Login", "Account")" alt="Login" title="Login"><span class="bullet">&nbsp;</span>Login</a></li>
                <li><a href="@Url.Action("About", "Home")" alt="About" title="About"><span class="bullet">&nbsp;</span>About</a></li>
                <li><a href="@Url.Action("Contact", "Home")" alt="Contact" title="Contact"><span class="bullet">&nbsp;</span>Contact</a></li>
            </ul>

            @RenderSection("GameMenu", required: false)
        </div>

        <div id="footer">
            Site created by Matthew Chan, 2016.
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
