@using Microsoft.AspNet.Identity
@model ConnectFour.Models.Room

@{
    ViewBag.Title = "TestGame";
    bool isAuthor = Model.AuthorID == User.Identity.GetUserId();
}

<style>
    #nav #title {
        margin-top: 50px;
    }
    #content {
        margin-top: 0;
    }
</style>
<canvas id="gameGrid"></canvas>
<canvas id="gameBoard"></canvas>

@section GameMenu {
    <ul id="gameStatus">
        <li class="info">
            Game Status: <span class="game_status">Waiting for opponent...</span>
        </li>
        <li class="info" style="display: none;">
            Turn: <span class="turn_number"></span>
        </li>
        <li class="info" style="display: none;">
            <span class="current_turn_msg" style="color: #FFFF00;"></span>
        </li>
        <li style="display: none; cursor: pointer;"><a id="concedeButton" alt="Concede" title="Concede"><span class="bullet">&nbsp;</span>Concede</a></li>
        <li><a href="@Url.Action("Index", "Game")" alt="Leave Game" title="Leave Game"><span class="bullet">&nbsp;</span>Leave Game</a></li>
    </ul>
}
@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            Connect4.loadGame($, @isAuthor.ToString().ToLower(), @Model.ID, @Model.Status === 1, $.connection.gameHub, $.connection.hub);
        });
    </script>
    @Scripts.Render("~/bundles/game")
}